.login-divider{
  position: relative;
  display: inline-block;
  padding: 0 .75rem;
  background: #fff;
}

.login-divider::before{
  content:"";
  position:absolute;
  top:50%;
  left:-140px;
  width:130px;
  height:1px;
  background: rgba(0,0,0,.12);
  transform: translateY(-50%);
}

.login-divider::after{
  content:"";
  position:absolute;
  top:50%;
  right:-140px;
  width:130px;
  height:1px;
  background: rgba(0,0,0,.12);
  transform: translateY(-50%);
}
